* {
margin: 0;
padding: 0;
box-sizing: border-box; 
}
html,body {
height: 100%;
width: 100%;
}
#main{
    min-height: 100vh;
    width: 100%;
}
h1{
    position: absolute;
    left: 24%;
    top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 100px;
    
    
    
}
h1::before{
    content: "AFTER BEFORE";
   left: -10px;
   top: -10px;
    
    position: absolute;
    z-index: -1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: transparent;
}



button{
    padding: 10px 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(28, 71, 223);
    border: none;
    
    
}
button::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
   background-color: rgb(28, 28, 227);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s ease;
}
button:hover::before{
transform: scale(1.4);
opacity: 0;
}


@media(max-width:500px){
    #main{
        flex-direction: column;
    }
    h1{
        
        
        left: 4%;
        top: 30%;
        font-weight: 300px;
        font-size: 50px;
    }
}